<!-- -----top  header------------ design -->
  <section class="{{class_custom}}">
  <div class="mainHeader">
    <div class="topHeader " style="height:90px;">
      <div class="container">
        <div class="logo col-lg-4 col-md-4 col-sm-4 col-xs-12" style="float:left; "><img src="/drupal8/web/sites/default/files/Logo_0.png" alt="Home" style="height: 42px"></div>
          <div class="search col-lg-4 col-md-4 col-sm-4 col-xs-12" style="float:left;">
            <input type="text" name="search" class="search" placeholder="Search" style="margin: 0 auto;border-radius: 5px"></div>
          <div class="cart-basket col-lg-4 col-md-4 col-sm-4 col-xs-12"style="float:right;width:auto;">
            <div class="commerce-cart-pop--summary__icon" style="float:right">
            </div>
          </div>  
      </div>
    </div>
    <div class="navbar navbar-expand-md navbar-light bg-light p-0">
      <div class="container">
        <div class="row w-100 align-items-center">
         {{ page.nav_branding }} 
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="ml-auto d-flex flex-column main-top_header">
                <div class="collapse navbar-collapse main-menu" id="navbarsExample04">
                  {{ page.nav_main }}  
                </div>
             </div>
        </div>
      </div>
    </div>
  </div> 
</section>

<!-- -bannar start-->

<!-- slider -->

<!-- slider end -->


<!-- Banner end -->
<!--  full Width -->
{% if page.full_width %}
  <section class="full_width">
        {{ page.full_width }}
  </section>
{% endif %}

<!-- footer -->
<!-- footer -->
{% if page.footer %}
<footer> 
    
    <!--footer-middle-->
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-xs-4 col-sm-4">

            <div class="" style="float:left;width:100%; ">
              <img src="/drupal8/web/sites/default/files/Logo_0.png" alt="Home" style="height: 42px"></div>
              <div>
                <p>Drupal.org lists nearly 1,200+ Contributed Drupal themes as of December, 2016. Currently themes display page is treated the same way as the modules display page with too much information such as development s</p>
              </div>
            <!-- <div class="social">
              <ul>
                <li class="fb"><a href="#"></a></li>
                <li class="tw"><a href="#"></a></li>
                <li class="googleplus"><a href="#"></a></li>
                <li class="rss"><a href="#"></a></li>
                <li class="pintrest"><a href="#"></a></li>
                <li class="linkedin"><a href="#"></a></li>
                <li class="youtube"><a href="#"></a></li>
              </ul>
            </div> -->
          </div>
          <div class="col-sm-4 col-xs-4 "><h3>Quick Links</h3> <p>Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content. It's also called placeholder (or filler) text.</p> </div>

          <div class="col-xs-4 col-sm-4">
            <h3>Contact Us</h3>
            <p>Lorem ipsum is a pseudo-Latin text used in web design, typography, layout, and printing in place of English to emphasise design elements over content. It's also called placeholder (or filler) text.</p>
          </div>
        </div>
      </div>
    </div>
    <!--footer-bottom--> 
    <!-- BEGIN SIMPLE FOOTER --> 
      <script>
    jQuery("#layerslider").layerSlider({
      pauseOnHover: false,
      skin: 'borderlessdark3d',
      hoverBottomNav: true,
      skinsPath: '../layerslider/skins/'
    });
  </script>
  </footer>
{% endif %}



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->